@model IEnumerable<MenuApp.Models.StoreData>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.username)
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in Model)
                {
                    @Html.DisplayFor(modelItem => item.User.username)
                    break;
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Itemname.item)
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in Model)
                {
                    @Html.DisplayFor(modelItem => item.Itemname.item)
                    <br />
                }
            </dd>

        </dl>
    </div>
    <div>
     
        <a asp-action="Index">Back to List</a>
    </div>
