@model MenuApp.Models.MenuModel;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <select asp-for="Username" class="form-control" asp-items="ViewBag.Username">
                    <option value="">Please Choose your name</option>
                </select>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.itemname.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.itemname[i].Value"/>
                    <input asp-for="itemname[i].Selected"/>@Model.itemname[i].Text <br />

                }
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
